.skill-display {
	margin: 1em 0;
	padding: 1em 1.25em;
	border: solid 2px var(--accent);
	color: var(--accent);
	background-color: white;
}

.skill-display hr {
	margin-top: 0;
	border-top: 1px solid var(--accent-light);
}

.skill-display ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	/* text-align: center; */
	padding: 0;
}

.skill-display ul li {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 33.333333%;
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
	overflow: auto;
}

@media only screen and (max-width: 800px) {
	.skill-display ul li {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
}